@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
*{box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box; font-family: 'Noto Sans KR', sans-serif;}
.font2{font-family: 'Permanent Marker', cursive;}

html,body{margin: 0;padding: 0;}
body{min-height: 100vh; /*overflow-x: hidden;*/ /*overflow-y: hidden;*/}
ul,ol{margin: 0;padding: 0;list-style: none;}
h1,h2,h3,h4,h5,h6,p{margin: 0;padding: 0;}
a{text-decoration: none;}
.clear{clear: both; content: ""; display: block;}




/*header part*/
header{position: fixed; top: 0; left: 0; width: 100%; height: 80px; background: rgba(0,0,0,0.7); z-index: 8;}
header nav{width: 100%; height: 100%;}
header nav ul{width: 100%; height: 100%; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; font-weight: 700; text-transform: uppercase;}
header nav ul li{margin: 0 20px;}
header nav ul li a{display: block; color: #fff;}
header nav ul li.active a{color:#ffcc00;}


main{}
main section{width: 100%; height: 100vh;}
main section:nth-child(2n-1){background: #213152;}
main section:nth-child(2n){background: #fff;}


/*인트로 파트*/
main .intro{background: #213152;}
main .intro .wrap{position: relative; width: 100%; height: 100%; background-image: url(../img/cloud.png);  background-repeat: no-repeat; background-size: auto 600px; animation:moveCloud 120s infinite;}
main .intro .wrap .typed_wrap{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); font-size: 27px; color: #fff; line-height: 1; text-shadow: -2px -2px 2px #cff, 2px 2px 2px #cff, -2px 2px 2px #cff, 2px -2px 2px #cff;}
main .intro .wrap .typed_wrap .text_type{display: inline-block;}
@keyframes moveCloud{
    0%{background-position: 0 100%;}
    50%{background-position: 100% 100%;}
    100%{background-position: 0 100%;}
}
/* main .intro .wrap a{display: block; width: 500px; height: 500px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
main .intro .wrap img{display: block; width: 500px;height: 500px; background-size: cover; background-position: 50% 50%; background-repeat: no-repeat; background: #f0f0f0; border-radius: 50%; box-shadow: 4px 4px 36px rgba(199, 59, 59, 0.904); transition: transform 1s, filter 1s; filter: opacity(50%);}

main .intro .wrap a:hover img{transform: scale(1.1); background: red; filter: opacity(100%);} */

/*type_text*/

/*어바웃 파트*/
main .about{}
main .about .wrap{width: 100%; height: 100%; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; 
    background-image: url(../img/about_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:100% 100%;
    background-attachment: fixed;}
main .about .wrap .profile{width: 0; height: 80%;   
     background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;background: rgba(207, 196, 163, 0.603); position: relative; transition: width 1s; transition-delay: 1s; box-shadow: 4px 4px 36px rgba(138, 104, 41, 0.904);}
main .about.active .wrap .profile{width: 85%; /*height: 100%;*/ background: rgb(230, 221, 198);}    
main .about .wrap .profile:before{content: ""; display: block; height: 115%; width: 78px; background-image: url(../img/stick_01.png); background-size: contain; background-position: 50% 50%; background-repeat: no-repeat; position: absolute; top: 50%; left: 0; transform: translate(-50%, -50%); z-index: 2;}
main .about .wrap .profile:after{content: ""; display: block; height: 115%; width: 78px;  background-image: url(../img/stick_02.png); background-size: contain; background-position: 50% 50%; background-repeat: no-repeat; position: absolute; top: 50%; right: 0; transform: translate(50%, -50%); z-index: 7;}
main .about .wrap .profile h1{font-size: 35px; text-align: center; opacity: 0;}
main .about.active .wrap .profile h1{opacity: 1; transition: 1s; transition-delay: 2s;}


main .about .wrap .profile .contents{width: 1200px; height:600px; display: flex; justify-content:center; margin: 0 auto; overflow: hidden; }
main .about .wrap .profile .contents .cont1{ padding: 10px 300px 10px 42px; opacity: 0; background: rgb(230, 221, 198);}
main .about.active .wrap .profile .contents .cont1{opacity: 1; transition: 1s; transition-delay: 2s;}
main .about.active .wrap .profile .contents .cont1 .identification_photo{width: 100%; height: 100%;}
main .about.active .wrap .profile .contents .cont1 .identification_photo .img{width: 357px; height: 500px; background-image: url(../img/profile.png); background-size: contain; background-position: 50% 50%; background-repeat: no-repeat;}


main .about .wrap .profile .contents .cont2{width: 80%; height: 520px; background: rgb(230, 221, 198); padding: 10px 42px 10px 10px; opacity: 0;}
main .about.active .wrap .profile .contents .cont2{opacity: 1; transition: 1s; transition-delay: 2s; padding-top: 125px;}
main .about .wrap .profile .contents .cont2 .myinfo{width: 100%; height: auto;}
main .about .wrap .profile .contents .cont2 .myinfo h3{width: 200px; font-size: 35px; border-bottom: 3px solid #000; padding-bottom: 10px; margin-bottom: 10px;}
main .about .wrap .profile .contents .cont2 .myinfo p{opacity: 0;}
main .about .wrap .profile .contents .cont2 .myinfo2 p{opacity: 0;}

main .about.active .wrap .profile .contents .cont2 .myinfo p:nth-child(2){opacity: 1; transition: 1s; transition-delay: 2s;}
main .about.active .wrap .profile .contents .cont2 .myinfo p:nth-child(3){opacity: 1; transition: 1s; transition-delay: 2.2s;}
main .about.active .wrap .profile .contents .cont2 .myinfo p:nth-child(4){opacity: 1; transition: 1s; transition-delay: 2.4s;}
main .about.active .wrap .profile .contents .cont2 .myinfo p:nth-child(5){opacity: 1; transition: 1s; transition-delay: 2.6s;}
main .about.active .wrap .profile .contents .cont2 .myinfo p:nth-child(6){opacity: 1; transition: 1s; transition-delay: 2.8s;}
main .about.active .wrap .profile .contents .cont2 .myinfo p:nth-child(7){opacity: 1; transition: 1s; transition-delay: 3s;}
main .about.active .wrap .profile .contents .cont2 .myinfo2 p:nth-child(2){opacity: 1; transition: 1s; transition-delay: 3.2s;}
main .about.active .wrap .profile .contents .cont2 .myinfo2 p:nth-child(3){opacity: 1; transition: 1s; transition-delay: 3.4s;}
main .about.active .wrap .profile .contents .cont2 .myinfo2 p:nth-child(4){opacity: 1; transition: 1s; transition-delay: 3.6s;}

main .about .wrap .profile .contents .cont2 .myinfo2{width: 100%; height: auto;}
main .about .wrap .profile .contents .cont2 .myinfo2 h3{width: 200px; font-size: 30px; border-bottom: 3px solid #000; padding-bottom: 5px; margin-bottom: 5px;}
main .about .wrap .profile .contents .cont2 .myinfo2 p{}
main .about .wrap .profile .contents .cont2 .myinfo2 p span{font-size: 24px; font-weight: bold; color: red;}

main .about .wrap .profile .contents .cont2 .ability{}
main .about .wrap .profile .contents .cont2 .ability .dif{display: flex;}
main .about .wrap .profile .contents .cont2 .ability .dif h3{width: 100px; border-bottom: 3px solid #000; padding-bottom: 3px; margin-bottom: 8px; animation: line 2.5s infinite;}
main .about .wrap .profile .contents .cont2 .ability .dif img{height: 30px;}
main .about .wrap .profile .contents .cont2 .ability .dif p{font-weight: bold; color: red;}
main .about .wrap .profile .contents .cont2 .ability .tab_box{display: flex;}
main .about .wrap .profile .contents .cont2 .ability .tab_box .circle{width: 20px; height: 20px; border-radius: 50%;  margin: 0 10px; background: brown; animation:circle 6s infinite;}
main .about .wrap .profile .contents .cont2 .ability .tab_box .circle:last-child{background: #000;}
@keyframes line{
    0%{width: 100px;}
    50%{width: 140px;}
    100%{width: 100px;}
}
@keyframes circle{
    0%{transform: scale(0.8);}
    50%{transform: scale(1.4);}
    100%{transform: scale(0.8);}
}
main .about .wrap .profile .contents .cont2 .ability .tab_box .circle:nth-child(1){margin-left: 0;}
main .about .wrap .profile .contents .cont2 .ability .tab_box .circle:hover{background: #aaaaff;cursor:crosshair;}


main .about .wrap .profile .cont3{width: 1200px; height: calc(100% - 600px); background: rgb(230, 221, 198); opacity: 0; margin: 0 auto; padding: 20px; padding-top: 100px; }
main .about.active .wrap .profile .cont3{opacity: 1; transition: 1s; transition-delay: 2s;}

main .about .wrap .profile .cont3 .language_stat{}
main .about.active .wrap .profile .cont3 .language_stat h3{ text-align: center; font-size: 30px;}

#circle_bar{ background: rgb(230, 221, 198);}
#circle_bar .frame{width: 100%; display: flex; justify-content: center; flex-wrap:wrap;}

#circle_bar .frame .case{display: inline-block; width: 25%; height: 240px; /*background: #cff;*/ position: relative;}

#circle_bar .frame .case .cont{position: absolute; top:50%; left:50%; transform: translate(-50%, -50%);}

#circle_bar .frame .case .cont .top{position: relative; width: 150px; height: 150px; border-radius:50%; box-shadow: inset 0 0 16px rgba(0,0,0,0.5);}



#circle_bar .frame .case .cont .top .num{position: absolute; top:50%; left:50%; transform: translate(-50%, -50%);}
#circle_bar .frame .case .cont .top .num h2{font-size: 13px; color:#555;}
#circle_bar .frame .case .cont .top .num h2 .count{font-size: 20px; color:#222;}

#circle_bar .frame .case .cont .bottom{padding-top: 10px; color:#555; text-align: center;}
#circle_bar .frame .case .cont .bottom h2{font-size: 15px;}

svg{position: relative; width: 150px; height: 150px; z-index: 7;}
svg circle{width: 100%; height: 100%; fill:none; stroke: rgba(0,0,0,0.1); stroke-width: 10; transform: translate(5px, 5px);}
svg circle:nth-child(2){
    stroke-linecap: butt; /*스트로크의 선 끝부분 처리 butt, round, project*/
    stroke-dasharray: 440; /*점선의 형태가 안보이도록 설치하는 것. 원의 테두리 길이(2PI*r) = 2*3.14*70(반지름 길이) = 439.6 ==> 440*/  
    stroke-dashoffset: 440;
    stroke: rgb(29, 27, 63);
    transition: stroke-dashoffset 2s;
    transition-delay: 1.5s;
}



/*포트폴리오 파트*/ 
main .portfolio{/*padding: 120px 0;*/ background: linear-gradient(to bottom, #c71 0%, #310 73%,  #941 100%);}
main .portfolio .slider{width: 1200px; height: 100vh; margin: 0 auto; position: relative; overflow: hidden; background-size: cover; background-position: 50% 50%; background-repeat: no-repeat; background-attachment: fixed;}
main .portfolio .slider ul{width: 500%;  position: absolute; top: 50%; transform: translateY(-50%); display: flex; margin-left: -100%;}
main .portfolio .slider ul li{width: calc(100% / 5); height: 50%;}

main .portfolio .slider ul li > div.port_img{position: relative; width: calc(50% - 40px); height: 560px; margin: 0 auto;}
main .portfolio .slider ul li > div.port_img .site_img{position: absolute; top:2.5%; left:3%; width: 94%; height: 70%; background-color: #aff; background-image: url(../img/port1.png); background-size: 100%; background-position: 0 0; transition: background-position 15s linear;}
main .portfolio .slider ul li.slide_02 > div.port_img .site_img{background-image: url(../img/port2.png);}
main .portfolio .slider ul li.slide_03 > div.port_img .site_img{background-image: url(../img/port3.png);}
main .portfolio .slider ul li.slide_04 > div.port_img .site_img{background-image: url(../img/port4.png);}
main .portfolio .slider ul li.slide_05 > div.port_img .site_img{background-image: url(../img/port5.png);}
main .portfolio .slider ul li > div.port_img:hover .site_img{background-position: 0 100%;}
main .portfolio .slider ul li > div.port_img .frame_img{width: 100%;height: 100%; background-image: url(../img/frame_pc.png); background-size: 100% auto; background-position: 50% 50%; background-repeat: no-repeat; position: absolute; top:0; left:0; z-index: 1;}
main .portfolio .slider ul li > div.port_txt{margin: 0 auto; max-width: 560px; text-align: center;}
main .portfolio .slider ul li > div.port_txt h2{color:#fa6; font-weight: 700; font-size: 36px;}
main .portfolio .slider ul li > div.port_txt p{color:#fff; padding-bottom: 10px;}
main .portfolio .slider ul li > div.port_txt a{color: pink; display: block; width: 120px; height: 50px; background: #fff; text-align: center; margin: 0 auto; border-radius: 4px; padding-top: 10px; transition: color 0.3s, background-color 0.3s;}
main .portfolio .slider ul li > div.port_txt a:hover{color: red; background: #000;}
main .portfolio .slider ul li > div.port_txt .color{padding-bottom: 10px; display: flex; justify-content: center; align-items: center;}
main .portfolio .slider ul li > div.port_txt .color h3{color: #fff;}
main .portfolio .slider ul li > div.port_txt .color .cir{width: 20px; height: 20px; background: #000; border-radius: 50%; margin: 0 5px;}

/*화살표*/
main .portfolio .slider .ca{position: absolute; top:50%; transform: translateY(-50%); opacity: 0; transition: opacity 0.5s, left 0.5s, right 0.5s;} 

main .portfolio .slider .prev{left:-20px;}
main .portfolio .slider .next{right:-20px;}
main .portfolio .slider .prev{left:20px; opacity: 1;}
main .portfolio .slider .next{right:20px; opacity: 1;}


main .portfolio .slider .ca .fas{font-size: 80px; color: #fff;}
main .portfolio .slider .ca .fas:hover{color: #000;}

/*페이저*/
.portfolio .slider ol{position: absolute; bottom: 12%; left: 50%; transform: translateX(-50%); display: flex; flex-wrap: wrap;}
.portfolio .slider ol li{width: 20px; height: 3px; border-radius: 4px; background-color: #777; box-shadow: 1px 1px 2px #000; margin: 0 5px; transition: background-color 0.5s, box-shadow 0.5s, width 0.5s;}
.portfolio .slider ol li.active{background: #ffff00;box-shadow: none; width: 40px;}

/*Contact 파트*/
.contact{}
.contact .wrap{width: 800px; margin: 0 auto; padding: 200px 0;}
.contact .wrap h2{font-size: 22px; color:#555; padding-bottom: 20px;}
.contact .wrap legend{font-size: 19px; font-weight: bold; color:#777;}
.contact .wrap .formlist{padding: 10px;}
.contact .wrap .formlist ul{}
.contact .wrap .formlist ul li{display: flex; align-items: flex-start; padding: 10px 0;}
.contact .wrap .formlist ul li label{display: block; width: 140px; font-size: 16px; font-weight: bold; word-break: keep-all; line-height: 36px; color:#888;}
.contact .wrap .formlist ul li label sup{color:#f00;}
.contact .wrap .formlist ul li .inputbox{display: block; width: calc(100% - 140px); padding: 0 10px;}
.contact .wrap .formlist ul li .inputbox input{display: block; width: 100%; line-height: 36px; font-size: 16px; border:none; border-bottom: 1px solid #ccc; padding: 0 10px;}
.contact .wrap .formlist ul li .inputbox textarea{width: 100%; border: 1px solid #ccc; line-height: 36px; font-size: 16px; border-radius:4px; height: 320px; resize: none;}
.contact .wrap .formlist .btn_box{padding: 20px 10px; border-top: 1px solid #999; text-align: right;}
.contact .wrap .formlist .btn_box button{font-size: 17px; background-color: #662021; color:#fff; border:none; border-radius:4px; cursor: pointer;}
.contact .wrap .formlist .btn_box button{background-color: #460001;}
.thankyou_message{position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 7; background: rgba(0,0,0,0.5); display: none; }
.thankyou_message article{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 500px; min-width: 320px; background-color: #fff; border-radius: 4px;}
.thankyou_message article h1{color: #555; font-size: 22px; padding-bottom: 20px; word-break: keep-all;}
.thankyou_message article p{font-size: 17px; color: #777; padding-bottom: 10px; border-bottom: 1px solid #ccc;}
.thankyou_message article .btn_box{padding-top: 20px; text-align: right;}
.thankyou_message article .btn_box a{display: inline-block; padding: 6px 12px; background: #f00; color: #fff; border-radius: 4px; font-size: 17px;}

.top_btn{position: fixed; right:30px; bottom:30px; cursor: pointer; z-index: 3;}
.top_btn a{font-size: 50px; color:#000;}

.dark{width: 100%; height: 100%; background: rgba(0,0,0,0.5); position: fixed; top: 0; left: 0; z-index: -1; opacity: 0; }
.dark.active{z-index: 10; opacity: 1;} 
.popup, .popup_second{position: fixed; width: 400px; height: 800px; top: 50%; left: 50%; background: #fff; transform: translate(-50%, -50%); z-index: -1; opacity: 0; text-align: center; padding: 0 30px; padding-top: 50px; border-radius: 8px;}  
.popup.active, .popup_second.active{z-index: 11; opacity: 1;}
.popup .close, .popup_second .close{position: absolute; top: -35px; right: -30px; color: #fff; font-size: 30px; cursor: pointer;}
.popup h2, .popup_second h2{padding-bottom: 30px;}
.popup .dif_popup, .popup_second .dif_popup{display: flex; padding: 10px 0;}
.popup .dif_popup img, .popup_second .dif_popup img{height: 30px; padding-right: 20px;}
.popup_second .dif_popup:last-child img{padding-right: 5px;}
.popup .dif_popup p, .popup_second .dif_popup p{text-align: left;}
.popup .dif_popup p.res_p, .popup_second .dif_popup p.res_p{display: none; font-size: 11px; }




@media (max-width:1400px){

    main section{height: 100%;}
    main section.intro{height: 100vh;}
    main section.about{height: 100vh;}
    main .portfolio .slider{width: 100%;}
    main .about .wrap .profile .contents{width: 800px;width: auto;}
    main .about .wrap .profile .contents .cont1{padding-right: 100px;}
    main .about .wrap .profile .cont3{width: 800px;width: auto;}
    .portfolio .slider ol{bottom: 20%;}
    
    
}
@media (max-width:1030px){
    main .portfolio .slider ul li.slide > div.port_img{height: 300px;} 
    main .portfolio .slider ul li.slide > div.port_txt p{font-size: 16px;}
    main .about .wrap .profile .contents{width: 500px; width: auto;}
    main .about .wrap .profile .contents .cont1{width: 400px; padding-right: 0;}
    #circle_bar .frame .case{width: 50%; height: 200px;}
    main .about.active .wrap .profile .contents .cont1 .identification_photo .img{height: 300px;}
    main .about.active .wrap .profile .contents .cont2{font-size: 16px; padding-top: 70px; z-index: 6;}
    main .about .wrap .profile .cont3{width: 500px; width: auto; padding-top: 20px;}
    main .about .wrap .profile .cont3 .language_stat h3{font-size: 16px;}
    main .about .wrap .profile .contents .cont2 .myinfo h3{font-size: 16px; padding-bottom: 0; margin-bottom: 0;}
    main .about .wrap .profile .contents .cont2 .myinfo2 h3{font-size: 16px; padding-bottom: 0; margin-bottom: 0;}
    main .about.active .wrap .profile .cont3 .language_stat h3{font-size: 16px;}    
    main .about.active .wrap .profile{height: 100%;}
    /* main .portfolio .slider ol{bottom: 20px;} */
}
@media (max-width:800px){
    main .about.active .wrap .profile .contents{width: auto;}
    main .about.active .wrap .profile .contents .cont1{width: 200px; padding-left: 0; height: 200px;}
    main .about.active .wrap .profile .contents .cont1 .identification_photo{height: 200px;}
    main .about.active .wrap .profile .contents .cont1 .identification_photo .img{width: 200px; height: 200px;}
    main .about.active .wrap .profile .contents .cont2{width: 200px; padding-left: 0; padding-right: 0;}
    main .about .wrap .profile .cont3{width: 300px; width: auto;}
    #circle_bar .frame .case:nth-child(2) .cont{left: 90px;}
    #circle_bar .frame .case:nth-child(4) .cont{left: 95px;}
    main .about .wrap .profile .contents .cont2 .myinfo h3{font-size: 16px; width: 120px;}
    main .about .wrap .profile .contents .cont2 .myinfo2 h3{font-size: 16px; width: 120px;}
    main .about .wrap .profile .cont3 .language_stat h3{font-size: 16px;}
    main section.about{height: 100%;}
    .contact .wrap{width: 600px;}
}
@media (max-width:600px){
    main .about.active .wrap .profile .contents{width: 400px; width: auto;}
    main .about.active .wrap .profile .cont3{width: auto;}
    main .about.active .wrap .profile .contents .cont1{width: 150px;}
    main .about.active .wrap .profile .contents .cont1 .identification_photo{width: 150px;}
    main .about.active .wrap .profile .contents .cont1 .identification_photo .img{width: 150px;}
    main .about.active .wrap .profile .contents .cont2{word-break: keep-all;}
    .contact .wrap{width: 400px;}
    @keyframes line{
        0%{width: 100px;}
        50%{width: 100px;}
        100%{width: 100px;}
    }

    header{position: fixed; top: 0; left: 0; width: 100%; height: 80px; background: rgba(0,0,0,0.7); z-index: 8;}
    header nav{width: 100%; height: 100%;}
    header nav ul{width: 100%; height: 100%; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; font-weight: 700; text-transform: uppercase;}
    header nav ul li{margin: 0 20px;}
    header nav ul li a{display: block; color: #fff;}
    header nav ul li.active a{color:#ffcc00;}     
}
@media (max-width:500px){
    main .about.active .wrap .profile .cont3{display: none;}
    main .about .wrap .profile:after{display: none;}
    .popup, .popup_second{width: 300px; height: 400px;}
    .popup .dif_popup p, .popup_second .dif_popup p{display: none;}
    .popup .dif_popup p.res_p, .popup_second .dif_popup p.res_p{display: block;}
}